.examples-info-card {
    width: 50rem;
    border-radius: 0.65rem;
    border: 1.5px solid #76B4F0;
    background: rgb(36, 36, 36);
    backdrop-filter: blur(1rem);
    padding: 1rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clear {
    background-color: #0EB1D2;
    margin: 0 0.8rem 0 0.8rem;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}
.clear:hover {
    background-color: #23daff; /* Darken the background color on hover */
  }

.examples-info-content {
    padding: 0.5rem;
}


.examples-info code {
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

.examples-info-card h6 {
    font-size: 1.2rem;
    font-weight: 500;
    background: linear-gradient(180deg, #76B4F0 0%, #0b9cb9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 1.5px solid #76B4F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.examples-output-terminal {
    background-color: black;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    overflow-y: auto; 
    max-height: 200px; 
  }
  
  .examples-output-terminal pre {
    margin: 0;
  }
  
  .runcode {
    background-color: #0EB1D2;
    color: white;
    margin: 0 0.8rem 0 0.8rem;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
  }
  
  .runcode:hover {
    background-color: #23daff; 
  }

  .copy-notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0EB1D2;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    transition: opacity 0.5s ease;
  }
  
  .copy-notification.show {
    opacity: 1;
  }
  
  .copy-notification.hide {
    opacity: 0;
  }

  .copy {
    background-color: #0EB1D2; 
    border: none;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 0.8rem 0 0.8rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .copy:hover {
    background-color: #23daff;
  }

@media (max-width: 1024px) {
    .examples-info-card h6 {
        font-size: 1.1rem;
    }
    .examples-info-card {
      width: 38rem;
      /* margin-right: 2rem; */
    }
}

@media (max-width: 768px) {
  .examples-info-card h6 {
      font-size: 1.2rem;
  }
  .examples-info-card {
    width: 45rem;
  }
}

@media (max-width: 425px) {
  .examples-info-card h6 {
      font-size: 1.2rem;
  }
  .examples-info-card {
    width: 23.5em;
  }
  .runcode {
    font-size: 0.8rem;
    margin: 0.2rem;
    padding: 0.5rem;
  }
  .clear {
    font-size: 0.8rem;
    margin: 0.2rem;
    padding: 0.5rem;
  }
  .copy {
    font-size: 0.8rem;
    margin: 0.2rem;
    padding: 0.5rem;
  }
  .examples-info code {
    font-size: 0.9rem;
  }
  .examples-info-content {
    overflow-x: auto;
  }
}

@media (max-width: 375px) {
  .examples-info-card h6 {
      font-size: 1.2rem;
  }
  .examples-info-card {
    width: 20.5em;
  }
  .runcode {
    font-size: 0.8rem;
    margin: 0.2rem;
    padding: 0.5rem;
  }
  .clear {
    font-size: 0.8rem;
    margin: 0.2rem;
    padding: 0.5rem;
  }
  .copy {
    font-size: 0.8rem;
    margin: 0.2rem;
    padding: 0.5rem;
  }
  .examples-info code {
    font-size: 0.9rem;
  }
  .examples-info-content {
    overflow-x: auto;
  }
}

@media (max-width: 320px) {
  .examples-info-card h6 {
    font-size: 1rem;
  }
  .examples-info-card {
    width: 17.125rem;
  }
  .runcode {
    font-size: 0.6rem;
    margin: 0.2rem;
    padding: 0.3rem;
  }
  .clear {
    font-size: 0.6rem;
    margin: 0.2rem;
    padding: 0.3rem;
  }
  .copy {
    font-size: 0.6rem;
    margin: 0.2rem;
    padding: 0.3rem;
  }

  .examples-info code {
    font-size: 0.9rem;
  }
  .examples-info-content {
    overflow-x: auto;
  }

}
